*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
 
  /* background-image: url("https://wallpaperaccess.com/full/136008.jpg"); */
 background-image: url("./Background.png");
  background-repeat: no-repeat, repeat;
 
  background-size: 100% 700px;

  /* background-color:aqua; */
}
.navbar {

margin-top: 20px;
height: 100px;
/* background-color: #f1f1f1; */
}

.navbar a{

  text-decoration: none;
  color: black;
  border:solid 1px black;
  background-color: transparent;
  padding: 3px 8px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.navbar  a:hover{
  background-color: rgba(8, 8, 8, 0.61);
  transition: 0.3s;
  color: aliceblue;
}

.navbar a.icon {
  border:none;
  display: none;
}
.navbar a.icon:hover{
  background-color: transparent;
background-color: rgba(8, 8, 8, 0.61);
}
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child){
      display: none;
    }
.navbar a.icon{
  display: block;
  width:50px;
     margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 5px;
   }
   
   .navbar.responsive a.icon {
     width:50px;
     margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

   .navbar.responsive a{
    width: 200px;
    display: block;
    float: none;
    transition: 0.3s; 
   
   text-align: left;
  }
  }
 
      
 /*         curtain Menu        */
 .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; 
 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(8, 8, 8, 0.61); /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.9s;
 }

.open{
  display: inline;
  position: fixed;
  padding: 3px 8px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 10px;
  color: black;
  padding: 5px 8px;
}
.open:hover{
  transition: 0.3s;
background-color: rgba(8, 8, 8, 0.61);
color: #f1f1f1;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
.overlay a:hover{
  background-color: rgba(8, 8, 8, 0.61);
  transition: 0.3s;
  color: aliceblue;
}


/* The navigation links inside the overlay */
.overlay a {
  position: relative;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  margin-right: 2px;
width: 100%;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; 
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
h1{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 600px;
}
/*                 Search Menu               */
.searchMenu{
position:absolute;
  float: right;
  margin-left: 70%;
  top:100px;
}
.searchMenu input{
  
  margin-right: 20px;
  width: 400px;
  padding: 10px 5px 10px 20px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.searchMenu input:hover{
  background-color: rgb(255, 255, 255);

}

.SearchMenu-context{
  border: solid black;
  margin-right: 20px;
  
}
#searchMenu-context {
  display: none;
}
.SearchMenu-context li{
  list-style-type: none;
  font-size: 28px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
}
.SearchMenu-context li:hover{
  background-color: rgb(129, 129, 129,0.61);
  transition: 0.3s;
}

/*        context          */
.Context{

  margin-left: 15%;
  margin-top: 5%;
  display: inline-block;
  /* display: none; */
}
.Context img{
  display: inline-block;
  width: 700px;
  height: 500px;
}
.SearchMenu-context a{
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 3px 8px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}